@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
}
section {
  margin-bottom: 10px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-links {
  display: flex;
  gap: 60px;
  align-items: center;
}
.nav-links li {
  list-style: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 120px;
}
.btn-grp {
  display: flex;
  align-items: center;
}
.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.btn2 {
  background-color: #007bff;
  color: white;
}
.logo {
  font-size: 1.6rem;
  font-weight: 600;
}
.active {
  color: blue;
}

/*Hero section */

.section {
  margin-top: 10px;
}
.hero {
  display: flex;
  gap: 10%;
  align-items: center;
  padding: 20px;
}
.h-left {
  flex: 1;
  margin-top: 100px;
}
.h-right {
  margin-top: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-right img {
  max-width: 380px;
  width: 100%;
  height: auto;
}
.h-left > h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
}
.para {
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: large;
}
.first-p {
  margin-bottom: 15px;
  color: gray;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
}
.nxt-grp {
  margin-top: 55px;
  gap: 20px;
}
.btn3 {
  background-color: transparent;
  border: 2px solid gray;
}

/*Partners-sections*/
.partner-section {
  text-align: center;
  margin-top: 70px;
  padding: 20px;
}
.logo-grp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 25px;
}
.logo-grp p {
  font-weight: bold;
  font-size: 28px;
  color: gray;
}
.partner-section p {
  font-weight: 600;
}

/*Intro-section*/

.intro-section {
  display: flex;
  position: relative;
  background-color: #ffffff;
  margin-top: 200px;
  padding: 20px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  align-items: center;
}
.after::after {
  content: "";
  position: absolute;
  width: 96%;
  height: 20px;
  left: 2%;
  bottom: -20px;
  background-color: #f7f7f7;
  border-radius: 0 0 15px 15px;

  z-index: -1;
}
.intro-left {
  flex: 1;
  padding: 0 70px;
}
.intro-right {
  flex: 1;
}
.intro-right img {
  max-width: 450px;
  width: 100%;
  position: relative;
  top: -65px;
}
.intro-left h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 3.8rem;
}
.btn4 {
  margin-top: 40px;
}

/*Features*/

.feature-section {
  margin-top: 150px;
  display: flex;
  gap: 15px;
}
.feature-left {
  flex: 1;
}
.feature-left img {
  margin-top: 55px;
}
.feature-right {
  flex: 1;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.para-1 {
  color: gray;
}
h3 {
  font-size: 36px;
  font-weight: 600;
}
/* feature-right*/

.feature-2 {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 20px;
}
.f-left {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 20px;
}
.f-right {
  flex: 1;
}

/* community-section*/

.community {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
  margin-bottom: 40px;
  border-radius: 15px;
  margin-top: 200px;
  padding: 40px 80px 60px 80px;
  gap: 60px;
  position: relative;
}
.c-content img {
  margin-top: -220px;
}
.c-right {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}
.c-content h3 {
  font-size: 40px;
  margin-top: 45px;
  margin-bottom: 15px;
}
.c-content button {
  margin-top: 25px;
}
.c-right h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

.c-right p {
  font-size: 16px;
  line-height: 1.5;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: rgb(218, 214, 214);
}
.c-content::after {
  content: "";
  width: 96%;
}

/* testimonials*/
.testimonials {
  padding: 20px;
  margin-top: 150px;
}
.testimonials-content p {
  margin-top: 15px;
}
.testimonials-content {
  text-align: center;
}

.card-section {
  margin-top: 40px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.box {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 15px;
}
.star {
  color: blue;
}
.box h5 {
  font-size: 18px;
  font-weight: 600;
}

/* last-feature section*/
.last-feature {
  background-color: #ffffff;
  padding: 20px 80px;
  margin-top: 120px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.left {
  flex: 1;
  margin-top: 30px;
}
.right {
  flex: 1;
}
.left h3 {
  font-size: 40px;
  font-weight: 600;
}
.left p {
  margin-top: 10px;
}
.signup-link-btn {
  margin-top: 60px;
}
/* hr*/
hr {
  height: 0.2px;
  background-color: rgb(196, 190, 190);
  margin-top: 150px;
}

/* footer-section*/
.footer-section {
  margin-top: 20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 245px));
  padding-bottom: 50px;
}

.common {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
.footer-section h4 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

/*mobile */

@media (max-width: 576px) {
  /*hero-section*/
  .hero {
    flex-direction: column;
    gap: 50px;
  }
  .h-left {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .h-left > h1 {
    font-size: 40px;
  }
  .h-right img {
    max-width: 270px;
    width: 100%;
  }
  /*partner-section*/
  .logo-grp {
    flex-wrap: wrap;
    margin-top: 100px;
  }
  /*intro-section*/

  .intro-section{
    margin-top: 100px;
    flex-direction: column;
    gap: 150px;
    padding: 50px 0;
    margin-right: 20px;
  }
  .intro-right img{
    max-width: 270px;
    width: 100%;
  }
 
  .intro-left h3{
    font-size: 30px;
    line-height: 1.2;
  }
}
